<!-- variavel clienteUpdate esta na classe que emite o evento : ClienteCadastroComponent -->
<!-- metodo atualizaLista esta na classe que escuta o evento : ClienteListaComponent -->
<div class="container">

    <div class="well">
        <h2>Lista de Clientes</h2>
        <div>
            <label>Nome: </label> <input [(ngModel)]="q" type="text">
        </div>
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Idade</th>
                        <th>Telefone</th>
                    </tr>
                </thead>
                <tr *ngFor="let cliente of clientes">
                    <td>{{cliente._id}}</td>
                    <td>{{cliente.nome}}</td>
                    <td>{{cliente.idade}}</td>
                    <td>{{cliente.tel}}</td>
                </tr>
            </table>

        </div>
    </div>
</div>