<div class="well">
    <h2>Cadastro de Clientes</h2>
    <form>
        <div class="input-group">
            <label class="input-group-addon" for="nome">Nome:</label>
            <input class="form-control" type="text" #nome id="nome">
        </div>
        <div class="input-group">
            <label class="input-group-addon" for="idade">Idade:</label>
            <input class="form-control" type="number" #idade id="idade">
        </div>
        <div class="input-group">
            <label class="input-group-addon" for="tel">Telefone:</label>
            <input class="form-control" type="text" #tel id="tel" >
        </div>
         <button type="submit" class="btn btn-default" 
            >Gravar</button> <!-- (click)="adicionarCliente(nome.value, idade.value, tel.value)"-->
    </form>
</div>